/* Master Styles */
body {
    font-family: "Open Sans", "sans-serif";
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

/* Navigation Bar Styles */
.navigation-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.left-side {
    display: flex;
}

.navigation-wrapper > .left-side > div {
    margin-right: 20px;
    font-size: 0.9em;
}

.navigation-link-wrapper {
    height: 18px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.navigation-link-wrapper a {
    color: #808080;
    text-decoration: none;
    transition: color 0.5s; 
}

.navigation-link-wrapper:hover {
    border-bottom: 1px solid black;
}

.navigation-link-wrapper a:hover {
    color: black;
}

.active-navigation-link {
    border-bottom: 1px solid black;
}

.active-navigation-link a {
    color: black !important;
}

/* Grid Styles */
.portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item-wrapper {
    position: relative;
}

.portfolio-img-background {
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.logo-wrapper img {
    width: 50%;
    margin-bottom: 20px;
}

.img-text-wrapper .subtitle-wrapper {
    transition: 0.6s;
    color: transparent;
    font-weight: 600;
}

.img-text-wrapper:hover .subtitle-wrapper {
    font-weight: 600;
    color: whitesmoke;
}

.img-darken {
    transition: 1s;
    filter: brightness(10%);
}

.img-lighten {
    transition: 1s;
    filter: brightness(100%);
}

/* About page */
.two-column-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profile-image-wrapper img {
    width: 100%;
}

.profile-content-wrapper {
    padding: 30px;
}

.profile-content-wrapper h1 {
    color: red;
}